<app-navbar></app-navbar>
<body>
    
    <div style="
    margin:20mm;
        border-style: solid;
        border-radius: 10mm;
        background-color:rgba(127, 136, 255, 0.545); 
        padding: 10mm;
        color: aliceblue;
        font-weight:bold ;
        font-size: 5mm;
        ">
        <h2>Rules:</h2>
        <p>1. Every Question Have to Attemp Compulsory</p>
        <p>2. For Every Question you will Have 60sec</p>
        <p>3. For Every Right Question you will Have 10 marks</p>
        <a class="btn btn-primary" href="testpage" role="button">Let's Start Test</a>
    </div>

</body>



                       
       
