<!-- Navbar -->
<app-navbar></app-navbar>
<div>
    <!-- Background image -->
    <div class="bg-image d-flex justify-content-center" style="
  background-image: url('https://img.freepik.com/free-vector/film-strip-background-with-clapper-board_1017-33456.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
">
        <div class="col-md-8" style="
margin-top: 25mm;
        border-style: double;
        border-color: darkcyan;
        border-radius: 10mm;
        padding: 10mm;
        background-color: aliceblue;
        border-width: 3mm;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        ">
            <div>
                <h2>User List And Admin Control <a class="btn btn-primary" href="userlist" role="button">Refresh
                        Page</a></h2>
                <hr>
                <table class="table table-striped">
                    <thead style="background-color:blue; font-size: 5mm;color: azure;">
                        <th>User ID</th>
                        <th style="text-align: left;">User Full Name</th>
                        <th style="text-align: left;">User Email ID</th>
                        <th style="text-align: left;">User Password</th>
                        <th style="text-align: left;">Role</th>
                    </thead>

                    <tbody>
                        <tr *ngFor="let user of userlistArray">
                            <td>{{user.userID}}</td>
                            <td style="text-align: left;">{{user.username}}</td>
                            <td style="text-align: left;">{{user.useremail}}</td>
                            <td style="text-align: left;">{{user.userpassword}}</td>
                            <td style="text-align: left;">{{user.role}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Background image -->
    </div>