<div style="border-style: solid;border-radius: 10mm;margin: 50mm;padding: 10mm;">
    <h2 style="text-align: center;">Pay Here</h2>
    <form class="form-inline">
        
        <label class="sr-only" for="inlineFormInputGroupUsername2"></label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Pay Here</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Enter Amount">
        </div>
      
        <div class="form-check mb-2 mr-sm-2">
          <input class="form-check-input" type="checkbox" id="inlineFormCheck">
          <label class="form-check-label" for="inlineFormCheck">
            Remember me
          </label>
        </div>
      
        <a href=""><button type="submit" class="btn btn-primary mb-2">Pay Here</button></a>
        &nbsp;
        <a href=""><button type="submit" class="btn btn-primary mb-2">Go To Back</button></a>
      </form>
</div>