<div class="container-fluid md col-5">
    <h1>Update Data</h1>
    <form #myForm="ngForm">
  
      <div class="input-group mb-3">
        <span class="input-group-text border-0" id="productName">Product Name</span>
        <input
          type="text"
          class="form-control rounded"
          placeholder="Enter Here Product Name"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="productName"
          id="productName"
          ngModel
        />
      </div>
  
      <div class="input-group mb-3">
        <span class="input-group-text border-0" id="productBrand">Product Brand</span>
        <input
          type="text"
          class="form-control rounded"
          placeholder="Enter Here Product Brand"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="productBrand"
          id="productBrand"
          ngModel
        />
      </div>
  
      <div class="input-group mb-3">
        <span class="input-group-text border-0" id="productDescription">Product Description</span>
        <input
          type="text"
          class="form-control rounded"
          placeholder="Enter Here Product Description"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="productDescription"
          id="productDescription"
          ngModel
        />
      </div>
  
      <div class="input-group mb-3">
        <span class="input-group-text border-0" id="productBrand">Product Price</span>
        <input
          type="text"
          class="form-control rounded"
          placeholder="Enter Here Product Price"
          aria-label="Username"
          aria-describedby="basic-addon1"
          name="productPrice"
          id="productPrice"
          ngModel
        />
      </div>
  
    <br><br>
      <div>
        <input type="submit" value="Update Data" class="btn btn-primary">
      </div>
    </form>
  </div>