<section class="vh-1200" style="background-color: #2779e2;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">

                <h1 class="text-white mb-2" style="text-align: center;">ADD MEDICARE PRODUCTS</h1>

                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">

                        <div class="row align-items-center py-2">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0 fs-5">Product Name</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input type="text" class="form-control form-control-lg"
                                    placeholder="Enter Here Product Name" />

                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center py-2">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0 fs-5">Product Brand</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input type="text" class="form-control form-control-lg"
                                    placeholder="Enter Here Product Brand" />

                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center py-2">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0 fs-5">Product Description</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <textarea class="form-control" rows="3"
                                    placeholder="Add Description of Product"></textarea>

                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center py-2">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0 fs-5">Product Price</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input type="text" class="form-control form-control-lg"
                                    placeholder="Enter Here Product Price" />

                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center py-2">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0 fs-5">Product Discount</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input type="text" class="form-control form-control-lg"
                                    placeholder="Enter Here Product Discounted Price" />

                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center py-2">
                            <div class="col-md-3 ps-5">

                                <h6 class="mb-0 fs-5">Add Product Image</h6>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input class="form-control form-control-lg" id="formFileLg" type="file" />
                                <div class="small text-muted mt-2">Upload your product Image file size less than 2 MB</div>

                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="px-5 py-2">
                            <button type="submit" class="btn btn-primary btn-lg">Add Product</button>
                            &nbsp;
                            <button type="reset" class="btn btn-primary btn-lg">Reset All</button>
                            &nbsp;
                            <a href="home"><button type="submit" class="btn btn-primary btn-lg" >Go To Home</button></a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>