<div>
    <!-- Background image -->
    <div class="bg-image d-flex justify-content-center align-items-center" style="
  background-image: url('https://img.freepik.com/free-photo/movie-background-collage_23-2149876003.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
">
        <div class="col-md-4" style="
        border-style: double;
        border-color: darkcyan;
        border-radius: 10mm;
        padding: 10mm;
        background-color: aliceblue;
        border-width: 3mm;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        ">

            <div>
                <h1>MyMovie App</h1><br>
                <p style="color: blue;font-size: 5mm;">Login Here</p>
            </div>
            <hr>
            <div>
                <form (ngSubmit)="onSubmitLogin()">
                    <!-- Email input -->
                    <div class="form-outline mb-2">
                        <label class="form-group">Email address</label>
                        <input type="email" id="useremail" name="useremail" class="form-control"
                            placeholder="Enter Your Email ID" [(ngModel)]="registrationClass.useremail" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-2">
                        <label class="form-group">Password</label>
                        <input type="password" id="userpassword" name="userpassword" class="form-control"
                            placeholder="Enter Your Password" [(ngModel)]="registrationClass.userpassword" />
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    <hr>
                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Not a member? <a href="registeration" style="color: red;">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Background image -->
</div>
