<!-- Background image -->
<div class="position-relative">
  <div class="svg-wrapper bg-image shadow-1-strong rounded-lg" style="
      background-image: url('https://media.cntraveller.com/photos/611bf188623b149193c8d16f/16:9/w_2992,h_1683,c_limit/persia-nov19issue-may20-saghar.jpg');
      height: 100vh;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    ">
    <div>
      <div style="position: absolute;right: 10px;margin-top: 20mm;margin-right: 20mm;">
        <div class="card bg-dark text-white" style="border-radius: 1rem;border-color: aqua;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-2 mt-md-2 pb-3">

              <h2 class="fw-bold mb-2 text-uppercase">FoodBox</h2>
              <p class="text-white-50 mb-3">Please enter your login and password!</p>
              <hr>
              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="Email" />
                <!-- <label class="form-label" for="typeEmailX">Email</label> -->
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" placeholder="Password" />
                <!-- <label class="form-label" for="typePasswordX">Password</label> -->
              </div>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
            </div>
            <hr>
            <div>
              <p class="mb-0">Don't have an account? <a href="registration" class="text-white-50 fw-bold">Register
                  Here</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Background image -->