<body>  
    <div>
      <form>
        <label>
          <p class="label-txt">ENTER YOUR NAME</p>
          <input type="text" class="input">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
    
        <label>
          <p class="label-txt">ENTER YOUR EMAIL</p>
          <input type="text" class="input">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
        
        <label>
          <p class="label-txt">ENTER YOUR PASSWORD</p>
          <input type="password" class="input">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
        <label>
          <p class="label-txt">ENTER YOUR CONFIRM PASSWORD</p>
          <input type="password" class="input">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
        <button type="submit">submit</button>&nbsp;
        <button type="reset">Reset All</button>
        
        <div>
          <p class="mt-2">Already have an account? <a href="login"
                  class="text-white-10 fw-bold">LogIn Here</a>
          </p>
      </div>
      </form>
    </div>
  </body>
  