<app-navbar></app-navbar>
 
 
 <!-- Page Content-->
 <div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://images.unsplash.com/photo-1556911220-e15b29be8c8f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Kitchen Therapy Sessions</h1>
            <p>Life’s too short for boring food
                Just like grandma used to make
                Farm to fork
                Play with your food!
                More flavor for less
                You deserve it!
                See you tomorrow!
                Every day is a good day for your restaurant
                A taste of home
                Taste the difference</p>
            <a class="btn btn-primary" href="#!">Call to Action!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Why truly, I’ve found the JOY of cooking. It’s the point at which my better half does it.</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">BreakFast With Samosa</h2>
                    <img src="https://images.herzindagi.info/image/2021/Sep/chaii-samosa.jpg" alt="" height="270">
                    <p class="card-text">Brittle crust and soft potatoes laced with caraway, coriander and chillies dissolves</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Pizza</h2>
                    <img src="https://knowbbies.com/storage/courses/June2018/35118898_1675576969163519_65233698458435584_n-medium.jpg" alt="" height="300">
                    <p class="card-text">Consisting of a thin layer of bread dough topped with spiced tomato sauce and cheese, often garnished with anchovies, sausage slices, mushrooms, etc.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Card Three</h2>
                    <img src="https://www.thestreet.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTY4NjM4Mjk0MTEyNzQxMjcx/5-weird-foreign-fast-food-items-that-companies-should-bring-to-america.jpg" alt="" height="250mm">
                    <p class="card-text">A burger is a flat round mass of minced meat or vegetables, which is fried and often eaten in a bread roll</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>