<app-navbar></app-navbar>
<div>
<div class="item" style="border-radius: 5mm;border-style: inset; margin: 5mm;padding: 3mm;">
    <h3>Burger</h3>
    <img src="https://www.thestreet.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTY4NjM4Mjk0MTEyNzQxMjcx/5-weird-foreign-fast-food-items-that-companies-should-bring-to-america.jpg" height="250mm" alt="">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="payment" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Order Now</a>
</div>

<div class="item" style="border-radius: 5mm;border-style: inset; margin: 5mm;padding: 3mm;">
    <h3>Pizaa</h3>
    <img src="https://api.pizzahut.io/v1/content/en-in/in-1/images/pizza/corn.f8baa08ad7f607f1de30f96bb9245b50.1.jpg" height="250mm" alt="">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="payment" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Order Now</a>
</div>

<div class="item" style="border-radius: 5mm;border-style: inset; margin: 5mm;padding: 3mm;">
    <h3>Samosa</h3>
    <img src="https://cdn.britannica.com/57/170657-050-C9620E39/Indian-samosa-chutney.jpg" height="250mm" alt="">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="payment" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Order Now</a>
</div>

<div class="item" style="border-radius: 5mm;border-style: inset; margin: 5mm;padding: 3mm;">
    <h3>Cheese Roll</h3>
    <img src="https://images.eatsmarter.com/sites/default/files/styles/max_size/public/puff-pastry-rolls-with-cheese-filling-537002.jpg" height="250mm" alt="">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="payment" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Order Now</a>
</div>

<div class="item" style="border-radius: 5mm;border-style: inset; margin: 5mm;padding: 3mm;">
    <h3>Chilly Paneer</h3>
    <img src="https://i.ndtvimg.com/i/2017-04/honey-chilli-potatoes_620x330_81491380315.jpg" height="250mm" alt="">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="payment" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Order Now</a>
</div>
</div>
<app-footer></app-footer>