<body style="
background-image: url('https://static.toiimg.com/thumb/msid-53004364,width-1280,resizemode-4/53004364.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
">


  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;border-color: blue;background-color: aliceblue;">
            <div class="card-body p-5 text-center fs-5"
              style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
              <h3 class="mb-5"
              style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 10mm;color: blue;">Medicare App</h3>
              <h4 class="mb-5"
                style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 7mm;">Sign
                in</h4>

              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg"
                  placeholder="Enter Email Here" />
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg"
                  placeholder="Enter Password Here" />
                <label class="form-label" for="typePasswordX-2">Password</label>
              </div>

              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0 fs-5">Don't have an account? <a href="register"
                  class="link-danger">Register</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>