<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0D47A1;">
    <div class="container-fluid">
      <img src="https://www.pngkit.com/png/full/74-745921_education-online-test-photos-student-sitting-at-desk.png" alt="online test logo" height="80mm">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 5mm;font-weight: bold;">
          <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="home">Home</a>
          </li>
          <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="test">Online Test</a>
          </li>
          <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="read">Read Books</a>
          </li>
        </ul>
        <a class="btn btn-danger" href="login" role="button">LogOut</a>
      </div>
    </div>
  </nav>