        <!-- Footer-->
        <footer class="py-1 bg-dark">
            <div class="container">
                <div class="m-0 text-center text-white">
                    <p>Copyright © Your Website 2023</p>
                </div>
                <div class="m-0 text-center text-white">
                    <p>Location: Old faridabad, Pin No: 121001</p>
                    <p>S.Bhushan, Email: sbhushan1305@gmail.com, Contact No: +91-8800220525</p>
                </div>
            
            </div>
        </footer>