<div>
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5" style="margin-bottom: 15mm;">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                src="https://t3.ftcdn.net/jpg/01/17/05/08/360_F_117050828_DYkavRjrVnuBNs2OomgbAJhpxgpYJ6qN.jpg" alt="medicare-image"/></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Medicare, Name of Trust</h1>
            <p>There’s a lot to get to know. From your basic Medicare coverage to Medigap plans to enrollment periods
                and more. We’ve found that while not many are particularly thrilled about wading through all the
                information associated with Medicare, everyone certainly wants to make the right Medicare choices.

                Medicare Nationwide instills that sort of confidence in our clients. We make sure you receive the
                coverage that’s right for you throughout your retirement. And the best part is that we’re free to work
                with! Insurance carriers compensate independent brokers like Medicare Nationwide with a commission for
                enrollment. So, there’s no charge from us and no change to your plan’s overall price.</p>
        </div>
    </div>
</div>
